<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- ICON -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />

    <!-- Fontawesome Icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <!-- Custom style -->
    <link rel="stylesheet" href="../css/admin-style.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <input type="checkbox" name="" id="nav-toogle" />
    <!-- Sidebar section -->
    <div class="sidebar__section">
      <div
        class="sidebar__brand d-flex align-items-center justify-content-center"
      >
        <div class="d-flex justify-content-center px-2 py-3 align-items-center">
          <i class="fas fa-user-circle me-2"></i>
          <h3 class="text-white ff2">Admin</h3>
        </div>
      </div>
      <div class="sidebar__menu">
        <div class="menu__content">
          <a href="index.html" class="text-decoration-none">
            <i class="bi bi-house-door-fill active">
              <span class="ms-2 active">Dashboard</span>
            </i>
          </a>
        </div>
        <div class="menu__content mt10">
          <a href="data-sd.html" class="text-decoration-none">
            <i class="fa-solid fa-rectangle-list"></i>
            <span class="ms-2 fs18">Data SD</span>
          </a>
        </div>
        <div class="menu__content mt10">
          <a href="data-smp.html" class="text-decoration-none">
            <i class="fa-solid fa-rectangle-list"></i>
            <span class="ms-2 fs18">Data SMP</span>
          </a>
        </div>

        <div class="menu__content mt10">
          <a href="struktur-organisasi.html" class="text-decoration-none">
            <i class="bi bi-person-lines-fill"></i>
            <span class="ms-2 fs18">Struktur Organisasi</span>
          </a>
        </div>
        <div class="menu__content mt10">
          <a href="kotak-saran.html" class="text-decoration-none">
            <i class="bi bi-chat-left-text-fill"></i>
            <span class="ms-2 fs18">Kotak Saran</span>
          </a>
        </div>
        <div class="menu__content mt10">
          <a href="login.html" class="text-decoration-none">
            <i class="bi bi-door-open-fill"></i>
            <span class="ms-2 fs18">Logout</span>
          </a>
        </div>
      </div>
    </div>
    <!-- End sidebar section -->

    <!-- Main section -->
    <div class="main__section">
      <!-- Header -->
      <div
        class="header bgdarkblue d-flex justify-content-between align-items-center px-4"
      >
        <label for="nav-toogle">
          <img src="../img/bar-putih.svg" height="20px" alt="" for />
        </label>
        <a class="navbar-brand d-flex align-items-center" href="index.html">
          <img src="../img/logo-batang.png" height="50px" alt="" />
          <h4 class="text-white ff2 ms-2">
            Dinas Pendidikan dan Kebudayaan <br />
            Kabupaten Batang
          </h4>
        </a>
        <div class="kosong"></div>
      </div>
      <!-- End header -->

      <!-- Main content -->
      <div class="main__content px-4 pt40">
        <h2 class="fw-bold darkblue">Dashboard</h2>
        <div class="dashboard__section">
          <div class="row">
            <div class="col-xl-4 col-12">
              <div class="dashboard__content bg-white text-center mt10 p-4">
                <h1 class="darkblue fw-bold">400</h1>
                <h3 class="darkblue mt10">Sekolah Dasar</h3>
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <div class="dashboard__content bg-white text-center mt10 p-4">
                <h1 class="darkblue fw-bold">80</h1>
                <h3 class="darkblue mt10">Sekolah Menengah Pertama</h3>
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <div class="dashboard__content bg-white text-center mt10 p-4">
                <h1 class="darkblue fw-bold">9.000</h1>
                <h3 class="darkblue mt10">Tenaga Pendidik</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- SD -->
        <h2 class="fw-bold darkblue mt40">Sekolah Dasar</h2>
        <div class="sd__section mt10">
          <div class="row">
            <div class="col-xl-8 col-12">
              <div class="tabel__section border-0 p-3 table-responsive">
                <div class="d-flex justify-content-between">
                  <h3 class="fw-bold darkblue">Data Sekolah</h3>
                  <a href="data-sd.html" class="text-decoration-none blue">
                    Lihat selengkapnya
                    <i class="bi bi-arrow-right blue fs14 ms-2"></i>
                  </a>
                </div>
                <div class="line2 mt10"></div>
                <table
                  class="table table-responsive table-hover"
                  id="table_id1"
                >
                  <thead>
                    <tr>
                      <th scope="col" class="text-center">No</th>
                      <th scope="col">Nama Sekolah</th>
                      <th scope="col" class="text-center">Akreditasi</th>
                      <th scope="col" class="alamat">Alamat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Data -->
                    <tr>
                      <td scope="row" class="text-center">1</td>
                      <td>SD N Kaliboyo 01</td>
                      <td class="text-center">A</td>
                      <td>
                        Jl. Raya Kaliboyo, Kaliboyo, Kec. Tulis, Kab. Batang
                        Prov. Jawa Tengah
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-center">1</td>
                      <td class="nama__sekolah">SD N Kaliboyo 01</td>
                      <td class="text-center">A</td>
                      <td>
                        Jl. Raya Kaliboyo, Kaliboyo, Kec. Tulis, Kab. Batang
                        Prov. Jawa Tengah
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-center">1</td>
                      <td class="nama__sekolah">SD N Kaliboyo 01</td>
                      <td class="text-center">A</td>
                      <td>
                        Jl. Raya Kaliboyo, Kaliboyo, Kec. Tulis, Kab. Batang
                        Prov. Jawa Tengah
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-center">1</td>
                      <td class="nama__sekolah">SD N Kaliboyo 01</td>
                      <td class="text-center">A</td>
                      <td>
                        Jl. Raya Kaliboyo, Kaliboyo, Kec. Tulis, Kab. Batang
                        Prov. Jawa Tengah
                      </td>
                    </tr>
                    <!-- End data -->
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <div class="tenaga__pendidik__section p-3">
                <h3 class="fw-bold darkblue">Data Tenaga Pendidik</h3>
                <div class="chartBox mt10">
                  <canvas id="myChart"></canvas>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="keterangan mt20">
                    <div class="d-flex">
                      <div class="kotak__merah me-2"></div>
                      <h4>
                        Laki-laki <span class="ms__laki fw-bold">5.000</span>
                      </h4>
                    </div>
                    <div class="d-flex mt10">
                      <div class="kotak__biru me-2"></div>
                      <h4>Perempuan <span class="ms-3 fw-bold">1.000</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SMP -->
        <h2 class="fw-bold darkblue mt40">Sekolah Menengah Pertama</h2>
        <div class="sd__section mt10">
          <div class="row">
            <div class="col-xl-8 col-12">
              <div class="tabel__section border-0 p-3 table-responsive">
                <div class="d-flex justify-content-between">
                  <h3 class="fw-bold darkblue">Data Sekolah</h3>
                  <a href="data-smp.html" class="text-decoration-none blue">
                    Lihat selengkapnya
                    <i class="bi bi-arrow-right blue fs14 ms-2"></i>
                  </a>
                </div>
                <div class="line2 mt10"></div>
                <table
                  class="table table-responsive table-hover"
                  id="table_id1"
                >
                  <thead>
                    <tr>
                      <th scope="col" class="text-center">No</th>
                      <th scope="col">Nama Sekolah</th>
                      <th scope="col" class="text-center">Akreditasi</th>
                      <th scope="col" class="alamat">Alamat</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Data -->
                    <tr>
                      <td scope="row" class="text-center">1</td>
                      <td>SD N Kaliboyo 01</td>
                      <td class="text-center">A</td>
                      <td>
                        Jl. Raya Kaliboyo, Kaliboyo, Kec. Tulis, Kab. Batang
                        Prov. Jawa Tengah
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-center">1</td>
                      <td class="nama__sekolah">SD N Kaliboyo 01</td>
                      <td class="text-center">A</td>
                      <td>
                        Jl. Raya Kaliboyo, Kaliboyo, Kec. Tulis, Kab. Batang
                        Prov. Jawa Tengah
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-center">1</td>
                      <td class="nama__sekolah">SD N Kaliboyo 01</td>
                      <td class="text-center">A</td>
                      <td>
                        Jl. Raya Kaliboyo, Kaliboyo, Kec. Tulis, Kab. Batang
                        Prov. Jawa Tengah
                      </td>
                    </tr>
                    <tr>
                      <td scope="row" class="text-center">1</td>
                      <td class="nama__sekolah">SD N Kaliboyo 01</td>
                      <td class="text-center">A</td>
                      <td>
                        Jl. Raya Kaliboyo, Kaliboyo, Kec. Tulis, Kab. Batang
                        Prov. Jawa Tengah
                      </td>
                    </tr>
                    <!-- End data -->
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-xl-4 col-12">
              <div class="tenaga__pendidik__section p-3">
                <h3 class="fw-bold darkblue">Data Tenaga Pendidik</h3>
                <div class="chartBox mt10">
                  <canvas id="myChart2"></canvas>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="keterangan mt20">
                    <div class="d-flex">
                      <div class="kotak__merah me-2"></div>
                      <h4>
                        Laki-laki <span class="ms__laki fw-bold">5.000</span>
                      </h4>
                    </div>
                    <div class="d-flex mt10">
                      <div class="kotak__biru me-2"></div>
                      <h4>Perempuan <span class="ms-3 fw-bold">1.000</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End main content -->

      <!-- Footer -->
      <footer class="p-4 text-center mt40">
        <h4 class="ff2">
          ©2022. Dinas Pendidikan dan Kebudayaan Kabupaten Batang. All rights
          reserved
        </h4>
      </footer>
      <!-- End footer -->
    </div>
    <!-- End main section -->

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Custom -->
    <script src="/assets/js/script.js"></script>
    <script>
      // sidebar
      window.addEventListener("DOMContentLoaded", (event) => {
        // Toggle the side navigation
        const sidebarToggle = document.body.querySelector("#sidebarToggle");
        if (sidebarToggle) {
          sidebarToggle.addEventListener("click", (event) => {
            event.preventDefault();
            document.body.classList.toggle("sb-sidenav-toggled");
            localStorage.setItem(
              "sb|sidebar-toggle",
              document.body.classList.contains("sb-sidenav-toggled")
            );
          });
        }
      });
    </script>
    <script
      src="https://kit.fontawesome.com/55f12d8286.js"
      crossorigin="anonymous"
    ></script>

    <!-- Dougnat chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Dougnat sd -->
    <script>
      const ctx = document.getElementById("myChart").getContext("2d");
      const myChart = new Chart(ctx, {
        type: "pie",
        data: {
          datasets: [
            {
              label: "My First Dataset",
              data: [5000, 1000],
              backgroundColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)"],
              hoverOffset: 4,
            },
          ],
        },
        options: {},
      });
    </script>

    <!-- Dougnat smp -->
    <script>
      const ctx2 = document.getElementById("myChart2").getContext("2d");
      const myChart2 = new Chart(ctx2, {
        type: "pie",
        data: {
          datasets: [
            {
              label: "My First Dataset",
              data: [5000, 1000],
              backgroundColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)"],
              hoverOffset: 4,
            },
          ],
        },
        options: {},
      });
    </script>
  </body>
</html>
